.page-wrapper {
    margin-left: calc(80px + 240px);
    transition: .2s ease-in;
    margin-right: 15px;

}


@media screen and (max-width:1280px) {
    .page-wrapper{
        margin-left: 15px;
    }
}

[data-sidebar-type="mini-sidebar"] .page-wrapper-sub {
    margin-left: 15px;
}
